<div class="registration-parent">
    <div class="registration-child">
        <div class="logo"><img src="../../img/icon.png"></img></div>
        <div class="list">
            <h5 class="white-text">Please input your username</h5>
            <label class="item item-input">
                <input type="text" placeholder="username" ng-model="username">
            </label>
            <button class="button button-full button-balanced" ng-click="createPlayer()">Go</button>
        </div>
    </div>
</div>