<ion-view view-title="Tic Tac Toe">
    <ion-content has-bouncing="false" style="background-color: cornflowerblue ">
        <div style="text-align: center;">
            <div style="margin: 0 auto;width:300px;height:140px;margin-top:10px;border:2px solid white;border-radius:10px">
              <h6 class="white-text">Game Statistic</h6>
              <hr>
                  <h6 class="white-text">Play : {{player.play}}
                  <h6 class="white-text">Win : {{player.win}}</h6>
                  <h6 class="white-text">Draw : {{player.draw}}</h6>
                  <h6 class="white-text">Defeat : {{player.defeat}}</h6>
            </div>
            
            <div style="margin: 0 auto;width:210px;height:50px;margin-top:20px" ng-show="gamePlayed">
                <div style="width:70px;height:100%;float:left; border-radius:0px"><b>{{player1}}</b><br><img width="15" height="15" src="http://i.imgur.com/f5kZLEa.png"></div>
                <div style="width:70px;height:100%;float:left; border-radius:0px;margin-top:10px">VS</div>
                <div style="width:70px;height:100%;float:left; border-radius:0px"><b>{{player2}}</b><br><img width="15" height="15" src="http://i.imgur.com/JaXq3E7.png"></div>
            </div>
            <br>

            
            <!--main box-->
            <div class="main-box" ng-show="gamePlayed">
                <!--first row-->
                <div class="row-game" ng-repeat="data in gameData">
                    <div style="width:100%;height:100%">
                    <!--first col-->
                    <div class="col-game button" ng-repeat="colData in data" ng-model="colData" ng-click="chooseThis(colData)"  ng-class="checkType(colData.type)"></div>
                    </div>
                </div>
            </div>
            <button ng-show="!gamePlayed" class="button button-balanced" style="margin:10px" ng-click="play()">Play</button>
            <button ng-show="gamePlayed && !isTheGameEnd" class="button button-assertive" style="margin:10px" ng-click="endGame()">End Game</button>
            <button ng-show="isTheGameEnd" class="button button-balanced" style="margin:10px" ng-click="play()">Play Again</button>
        </div>
    </ion-content>
</ion-view>
