/* Empty. Add your own CSS if you like */

.white-border {
    border:2px solid white!important;
    border-radius: 5px;
}
.white-text {
    color: white !important;
    font-weight: bold;
}

.logo {
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    color: lightgray !important;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 50px;
}
.mini-logo {
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    color: black !important;
    font-weight: bold;
    font-size: 20px;
    margin-top:12px;
    margin-left: 12px;
}
.menu-icon {
    top:5px;
}
.home-parent {
  align-content: center;
  background-color: cornflowerblue ;
  height: 94vh;
  width: 100%;
}
.current-location {
    color: white!important;
    margin:10px!important;
}
.welcome-parent {
  position: relative;
  align-content: center;
  background-color: cornflowerblue ;
  }
.welcome-child {
  margin:25vh 10vw 50vh 10vw;
  height: 30vh;
  width: 80vw;
  color: white;
  text-align: center;
  align-content: center;
  font-size: 20px;
  font-weight: bold;
}

hr { 
    display: block;
    margin-top: 0.2em!important;
    margin-bottom: 0.2em!important;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px!important;
}

.registration-child {
  margin:15vh 5vw 50vh 5vw;
  height: 35vh;
  width: 90vw;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.registration-parent {
  position: relative;
  align-content: center;
  background-color: cornflowerblue ;
}
.menu-content {
    background-color: blanchedalmond;
}
.menu-item {
  font-size: 18px!important;
  font-weight: bold;
}
.menu-separator {
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.profile-screen {
    align-content: center;
    background-color: black!important;
    height: 94vh;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.photo-profile {
     margin: 0 auto!important;
     border: 2px solid white;
     padding:5px;
     margin-top:30px!important;
     margin-bottom:30px!important;
}

.collection-view {
    width:90vw;
    height:200px;
    border:2px solid lightgray;
    margin:15px 5vw 15px 5vw !important;
    background-size:     cover;               
    background-repeat:   no-repeat;
    background-position: center center; 
}

.image-collection-view {
    width:80vw;
    height:180px;
    border:1px solid  darkslategray;
    margin:5px 5vw 10px 5vw !important;
}

.rating {
    margin-top:0px;
}

.main-box {
    width:96vw;
    height:96vw;
    border-radius: 10px;
    /*padding:1vw;*/
    background-color: red;
    border:3vw outset #a16600;
    margin: 0 auto;
    margin-top:-10px!important;
}


.row-game {
    width:100%;
    height:calc(90vw/3);
}

.row-game-no-border {
    width:100%;
    height:calc(88vw/3);
}

.col-game {
    width:calc(90vw/3);
    height:100%;
    float:left; 
    border-radius:0px;
    border:4px groove white;
    padding: 0px;
    background-color: transparent;
}
.col-game-first-row {
    border-top:0px dashed white;
}

.col-game-third-row {
border-bottom:0px dashed white;
}

.col-game-left {
    border-left:0px dashed white;
}

.col-game-right {
border-right:0px dashed white;
}

.col-game-x {
    background: url(http://i.imgur.com/JaXq3E7.png) no-repeat center;
    background-size: 50px;
    background-color: transparent!important;
}

.col-game-o {
    background: url(http://i.imgur.com/f5kZLEa.png) no-repeat center;
    background-size: 50px;
    background-color: transparent!important;
}

.content-background{
    background: url(../img/brick.jpg) no-repeat center;
    background-size: 100vw 100vh;
    background-color: transparent!important;
}

.statistic-content{
    background-color: #a16600;
background-image: url("http://www.transparenttextures.com/patterns/wood-pattern.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.new-button-content{
    background-color: green;
    
/*background-image: url("http://www.transparenttextures.com/patterns/wood-pattern.png");*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.end-button-content{
    background-color: orangered;
    
/*background-image: url("http://www.transparenttextures.com/patterns/wood-pattern.png");*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.play-custom-button {
    margin:-10px -10px -10px -10px;
    border-color: transparent;
    background-color: #33cd5f;
    color: #fff;
    line-height: 20px !important;
    min-height:40px!important;
    width: 100%;
    font-weight: bold;
}

.end-custom-button {
    margin:-10px -10px -10px -10px;
    border-color: transparent;
    background-color: orangered;
    color: #fff;
    line-height: 20px !important;
    min-height:40px!important;
    width: 100%;
    font-weight: bold;
}

 .profile-button{
    background:url(https://cdn3.iconfinder.com/data/icons/profile-picture-avatar/512/profile_picture_lover_boy_avatar-512.png) no-repeat;
    cursor:pointer;
    background-size: 100% 100%;
    border:none;
    width:40px;
    height:100%;
}


 